{% extends 'layouts/base.html.twig' %}

{% block title %}Тестовая страничка{% endblock %}

{% block body %}
<h1>Тестовая страничка сайта</h1>
    {% for key,user in usersResult %}
        <h4>{{ user.email }}</h4>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(usersResult) }}
    </div>
{% endblock %}