{% extends 'layouts/base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ "Форма поиска по сайту " | truncate(25) }}</div>
                    <div class="panel-body">
                        {{ form_start(formFilter) }}
                        <div class="row">
                            <div class="col-lg-11">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">
                                        Поиск
                                    </span>
                                    {{ form_widget(formFilter.q, {
                                        'attr' : {
                                            'class' : 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="input-group">
                                    {{ form_widget(formFilter.search, {
                                        'attr': {'class' : 'form-control'}
                                    }) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"></span>
                                        {{ form_widget(formFilter.sort, {
                                            'attr' : {
                                                'class' : 'form-control'
                                            }
                                        }) }}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1"></span>
                                    {{ form_widget(formFilter.limit, {
                                        'attr' : {
                                            'class' : 'form-control'
                                        }
                                    }) }}
                                </div>
                            </div>
                        </div>

                        {{ form_end(formFilter) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% for picture in pictures %}
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="{{ picture.thumbnail }}" alt="no_photo" style="width: 100%;height: 160px;">
                <div class="caption">
                    <h3>"{{ picture.title | truncate(12) }}"</h3>
                    <p><b><span class="glyphicon glyphicon-star" aria-hidden="true"></span></b> {{ picture.countFavorites }}</p>
                    <p><b>Автор:</b> {{ picture.author }}</p>
                    <p>{{ picture.createdUtc }}</p>
                    <p><a href="{{ path('app_main_show',{'id': picture.id}) }}" class="btn btn-default" role="button">Подробнее</a></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}