{% extends 'layouts/base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Мои избранные
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {% for picture in favoritesResult %}
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img src="{{ picture.dataFreddit.thumbnail }}" alt="no_photo" style="width: 100%;height: 160px;">
                                        <div class="caption">
                                            <h3>"{{ picture.dataFreddit.title | truncate(12) }}"</h3>
                                            <p><b><span class="glyphicon glyphicon-star" aria-hidden="true"></span></b> {{ picture.dataFreddit.countFavorites }}</p>
                                            <p><b>Автор:</b> {{ picture.dataFreddit.author }}</p>
                                            <p>{{ picture.dataFreddit.createdUtc }}</p>
                                            <p><a href="{{ path('app_main_show',{'id': picture.dataFreddit.id}) }}" class="btn btn-default" role="button">Подробнее</a></p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-lg-12 navigation">
                                {{ knp_pagination_render(favoritesResult) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}