{% extends 'layouts/base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>"{{ picture.title | truncate(12) }}"</h3>
                        <a href="{{ path('app_main_add_my_favorites',{'id':picture.id }) }}" class="btn btn-success" role="button">Добавить в избронное</a>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-offset-2 col-md-8">
                            <div class="thumbnail">
                                <img src="{{ picture.thumbnail }}" alt="no_photo" style="width: 100%">
                                <div class="caption">

                                    <p><b><span class="glyphicon glyphicon-star" aria-hidden="true"></span></b> {{ picture.countFavorites }}</p>
                                    <p><b>Автор:</b> {{ picture.author }}</p>
                                    <p>{{ picture.createdUtc }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}