<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ include('components/head.html.twig') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>

{{ include('components/nav/main_menu.hrml.twig') }}

<div class="container">
    {% block body %}{% endblock %}
</div>

{{ include('components/footer.html.twig') }}
{% block javascripts %}{% endblock %}
</body>
</html>
