{% trans_default_domain 'FOSUserBundle' %}
    {% block subject %}
        {%- autoescape false -%}
            {{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
        {%- endautoescape -%}
    {% endblock %}

    {% block body_text %}
        {% autoescape false %}
            {{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
        {% endautoescape %}
    {% endblock %}
{% block body_html %}{% endblock %}